In [9]:
import json
import pandas as pd
import requests

In [189]:
api_key='#'
w_url='https://api.openweathermap.org/data/2.5/weather?'

In [456]:
w_data_list=[]
city=['Washington','Chicago','Dallas','Atlanta','San Francisco','Los Angeles','Houston','San Diego','San Antonio','Austin','Philadelphia',
      'New York','London','Visakhapatnam','Bengaluru','Hyderabad','Chennai','Delhi','Mumbai','Pune','Dubai','Riyadh','Abu Dhabi','Doha','Muscat',
      'Gaza','Beirut','Tehran','Jerusalem','Manama','Baghdad','Kabul','Lahore','Karachi','Islamabad','Dhaka','Tokyo','Seoul','Beijing','Shanghai',
      'Taipei','Busan','Cairo','Lagos','Nairobi']
for c in city:
    params={
        'q':c,
        'appid':api_key,
        'units':'metric'
    }
    w_res=requests.get(w_url,params=params)
    if w_res.status_code==200:
        w_data=w_res.json()
        w_data_list.append(w_data)
print(w_data_list)

[{'coord': {'lon': 83.2093, 'lat': 17.69}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'base': 'stations', 'main': {'temp': 27.21, 'feels_like': 30.43, 'temp_min': 27.21, 'temp_max': 27.21, 'pressure': 1012, 'humidity': 82, 'sea_level': 1012, 'grnd_level': 1006}, 'visibility': 10000, 'wind': {'speed': 2.08, 'deg': 23, 'gust': 2.53}, 'clouds': {'all': 100}, 'dt': 1728699079, 'sys': {'country': 'IN', 'sunrise': 1728692372, 'sunset': 1728734843}, 'timezone': 19800, 'id': 1253102, 'name': 'Visakhapatnam', 'cod': 200}]

In [440]:
for ind in w_data_list:
    print(ind)

{'coord': {'lon': -120.5015, 'lat': 47.5001}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'base': 'stations', 'main': {'temp': 15.62, 'feels_like': 14.2, 'temp_min': 15.03, 'temp_max': 16.22, 'pressure': 1017, 'humidity': 37, 'sea_level': 1017, 'grnd_level': 934}, 'visibility': 10000, 'wind': {'speed': 0.57, 'deg': 139, 'gust': 0.65}, 'clouds': {'all': 100}, 'dt': 1728694544, 'sys': {'type': 2, 'id': 2019804, 'country': 'US', 'sunrise': 1728656135, 'sunset': 1728696074}, 'timezone': -25200, 'id': 5815135, 'name': 'Washington', 'cod': 200}
{'coord': {'lon': -87.65, 'lat': 41.85}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}], 'base': 'stations', 'main': {'temp': 23.62, 'feels_like': 23.11, 'temp_min': 21.98, 'temp_max': 24.46, 'pressure': 1016, 'humidity': 41, 'sea_level': 1016, 'grnd_level': 995}, 'visibility': 10000, 'wind': {'speed': 3.6, 'deg': 230}, 'clouds': {'all': 75}, 'dt': 1728694618, 'sys': {'type': 2, 'id': 2005153, 'country': 'US', 'sunrise': 1728647926, 'sunset': 1728688518}, 'timezone': -18000, 'id': 4887398, 'name': 'Chicago', 'cod': 200}
{'coord': {'lon': -96.7836, 'lat': 32.7668}, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03n'}], 'base': 'stations', 'main': {'temp': 28.25, 'feels_like': 27.75, 'temp_min': 26.75, 'temp_max': 30.08, 'pressure': 1017, 'humidity': 38, 'sea_level': 1017, 'grnd_level': 999}, 'visibility': 10000, 'wind': {'speed': 5.14, 'deg': 140}, 'clouds': {'all': 40}, 'dt': 1728694200, 'sys': {'type': 2, 'id': 2075302, 'country': 'US', 'sunrise': 1728649706, 'sunset': 1728691121}, 'timezone': -18000, 'id': 4684904, 'name': 'Dallas', 'cod': 200}
{'coord': {'lon': -84.388, 'lat': 33.749}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'base': 'stations', 'main': {'temp': 17.63, 'feels_like': 16.99, 'temp_min': 15.86, 'temp_max': 18.18, 'pressure': 1022, 'humidity': 59, 'sea_level': 1022, 'grnd_level': 988}, 'visibility': 10000, 'wind': {'speed': 0, 'deg': 0}, 'clouds': {'all': 0}, 'dt': 1728694557, 'sys': {'type': 2, 'id': 2006620, 'country': 'US', 'sunrise': 1728646770, 'sunset': 1728688108}, 'timezone': -14400, 'id': 4180439, 'name': 'Atlanta', 'cod': 200}
{'coord': {'lon': -122.4194, 'lat': 37.7749}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}], 'base': 'stations', 'main': {'temp': 16.98, 'feels_like': 16.54, 'temp_min': 15.71, 'temp_max': 19.76, 'pressure': 1017, 'humidity': 69, 'sea_level': 1017, 'grnd_level': 1013}, 'visibility': 10000, 'wind': {'speed': 6.69, 'deg': 280}, 'clouds': {'all': 75}, 'dt': 1728694585, 'sys': {'type': 2, 'id': 2017837, 'country': 'US', 'sunrise': 1728656079, 'sunset': 1728697051}, 'timezone': -25200, 'id': 5391959, 'name': 'San Francisco', 'cod': 200}
{'coord': {'lon': -118.2437, 'lat': 34.0522}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'base': 'stations', 'main': {'temp': 25.6, 'feels_like': 25.47, 'temp_min': 21.53, 'temp_max': 29.63, 'pressure': 1015, 'humidity': 48, 'sea_level': 1015, 'grnd_level': 996}, 'visibility': 10000, 'wind': {'speed': 4.12, 'deg': 280}, 'clouds': {'all': 0}, 'dt': 1728694373, 'sys': {'type': 2, 'id': 2075946, 'country': 'US', 'sunrise': 1728654913, 'sunset': 1728696213}, 'timezone': -25200, 'id': 5368361, 'name': 'Los Angeles', 'cod': 200}
{'coord': {'lon': -95.3633, 'lat': 29.7633}, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03n'}], 'base': 'stations', 'main': {'temp': 27.86, 'feels_like': 27.82, 'temp_min': 25.62, 'temp_max': 28.91, 'pressure': 1019, 'humidity': 44, 'sea_level': 1019, 'grnd_level': 1017}, 'visibility': 10000, 'wind': {'speed': 5.66, 'deg': 170}, 'clouds': {'all': 40}, 'dt': 1728694394, 'sys': {'type': 2, 'id': 2001415, 'country': 'US', 'sunrise': 1728649246, 'sunset': 1728690899}, 'timezone': -18000, 'id': 4699066, 'name': 'Houston', 'cod': 200}
{'coord': {'lon': -117.1573, 'lat': 32.7153}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'base': 'stations', 'main': {'temp': 22.95, 'feels_like': 23.02, 'temp_min': 18.53, 'temp_max': 26.43, 'pressure': 1015, 'humidity': 66, 'sea_level': 1015, 'grnd_level': 1011}, 'visibility': 10000, 'wind': {'speed': 3.09, 'deg': 290}, 'clouds': {'all': 0}, 'dt': 1728694814, 'sys': {'type': 2, 'id': 2095167, 'country': 'US', 'sunrise': 1728654596, 'sunset': 1728696008}, 'timezone': -25200, 'id': 5391811, 'name': 'San Diego', 'cod': 200}
{'coord': {'lon': -98.4936, 'lat': 29.4241}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'base': 'stations', 'main': {'temp': 28.61, 'feels_like': 27.92, 'temp_min': 26.3, 'temp_max': 29.96, 'pressure': 1018, 'humidity': 36, 'sea_level': 1018, 'grnd_level': 994}, 'visibility': 10000, 'wind': {'speed': 2.74, 'deg': 175, 'gust': 4.42}, 'clouds': {'all': 0}, 'dt': 1728694710, 'sys': {'type': 2, 'id': 2034324, 'country': 'US', 'sunrise': 1728649985, 'sunset': 1728691663}, 'timezone': -18000, 'id': 4726206, 'name': 'San Antonio', 'cod': 200}
{'coord': {'lon': -97.7431, 'lat': 30.2672}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'base': 'stations', 'main': {'temp': 28.15, 'feels_like': 27.53, 'temp_min': 26.04, 'temp_max': 29.92, 'pressure': 1018, 'humidity': 36, 'sea_level': 1018, 'grnd_level': 994}, 'visibility': 10000, 'wind': {'speed': 2.57, 'deg': 160}, 'clouds': {'all': 0}, 'dt': 1728694556, 'sys': {'type': 2, 'id': 2003218, 'country': 'US', 'sunrise': 1728649837, 'sunset': 1728691450}, 'timezone': -18000, 'id': 4671654, 'name': 'Austin', 'cod': 200}
{'coord': {'lon': -75.1638, 'lat': 39.9523}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'base': 'stations', 'main': {'temp': 15.28, 'feels_like': 14.38, 'temp_min': 12.66, 'temp_max': 16.72, 'pressure': 1017, 'humidity': 58, 'sea_level': 1017, 'grnd_level': 1012}, 'visibility': 10000, 'wind': {'speed': 3.02, 'deg': 258, 'gust': 9.56}, 'clouds': {'all': 0}, 'dt': 1728694788, 'sys': {'type': 2, 'id': 2006633, 'country': 'US', 'sunrise': 1728644833, 'sunset': 1728685619}, 'timezone': -14400, 'id': 4560349, 'name': 'Philadelphia', 'cod': 200}
{'coord': {'lon': -74.006, 'lat': 40.7143}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'base': 'stations', 'main': {'temp': 17.58, 'feels_like': 16.57, 'temp_min': 14.91, 'temp_max': 18.45, 'pressure': 1015, 'humidity': 45, 'sea_level': 1015, 'grnd_level': 1014}, 'visibility': 10000, 'wind': {'speed': 3.6, 'deg': 260}, 'clouds': {'all': 0}, 'dt': 1728694663, 'sys': {'type': 1, 'id': 4610, 'country': 'US', 'sunrise': 1728644592, 'sunset': 1728685304}, 'timezone': -14400, 'id': 5128581, 'name': 'New York', 'cod': 200}
{'coord': {'lon': -0.1257, 'lat': 51.5085}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}], 'base': 'stations', 'main': {'temp': 7.54, 'feels_like': 6.27, 'temp_min': 6.18, 'temp_max': 8.38, 'pressure': 1014, 'humidity': 85, 'sea_level': 1014, 'grnd_level': 1009}, 'visibility': 10000, 'wind': {'speed': 2.06, 'deg': 60}, 'clouds': {'all': 100}, 'dt': 1728694159, 'sys': {'type': 2, 'id': 2075535, 'country': 'GB', 'sunrise': 1728713982, 'sunset': 1728753226}, 'timezone': 3600, 'id': 2643743, 'name': 'London', 'cod': 200}
{'coord': {'lon': 77.2167, 'lat': 28.6667}, 'weather': [{'id': 701, 'main': 'Mist', 'description': 'mist', 'icon': '50d'}], 'base': 'stations', 'main': {'temp': 21.05, 'feels_like': 21.67, 'temp_min': 21.05, 'temp_max': 21.05, 'pressure': 1010, 'humidity': 94, 'sea_level': 1010, 'grnd_level': 985}, 'visibility': 2500, 'wind': {'speed': 1.03, 'deg': 210}, 'clouds': {'all': 20}, 'dt': 1728694578, 'sys': {'type': 1, 'id': 9165, 'country': 'IN', 'sunrise': 1728694203, 'sunset': 1728735887}, 'timezone': 19800, 'id': 1273294, 'name': 'Delhi', 'cod': 200}
{'coord': {'lon': 78.4744, 'lat': 17.3753}, 'weather': [{'id': 701, 'main': 'Mist', 'description': 'mist', 'icon': '50d'}], 'base': 'stations', 'main': {'temp': 23.73, 'feels_like': 24.61, 'temp_min': 23.73, 'temp_max': 23.73, 'pressure': 1012, 'humidity': 94, 'sea_level': 1012, 'grnd_level': 948}, 'visibility': 5000, 'wind': {'speed': 2.57, 'deg': 130}, 'clouds': {'all': 40}, 'dt': 1728694825, 'sys': {'type': 1, 'id': 9213, 'country': 'IN', 'sunrise': 1728693498, 'sunset': 1728735990}, 'timezone': 19800, 'id': 1269843, 'name': 'Hyderabad', 'cod': 200}
{'coord': {'lon': 80.2785, 'lat': 13.0878}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}], 'base': 'stations', 'main': {'temp': 26.08, 'feels_like': 26.08, 'temp_min': 25.48, 'temp_max': 26.7, 'pressure': 1009, 'humidity': 96, 'sea_level': 1009, 'grnd_level': 1009}, 'visibility': 3000, 'wind': {'speed': 2.06, 'deg': 100}, 'clouds': {'all': 75}, 'dt': 1728694819, 'sys': {'type': 2, 'id': 2093220, 'country': 'IN', 'sunrise': 1728692924, 'sunset': 1728735698}, 'timezone': 19800, 'id': 1264527, 'name': 'Chennai', 'cod': 200}
{'coord': {'lon': 83.2093, 'lat': 17.69}, 'weather': [{'id': 701, 'main': 'Mist', 'description': 'mist', 'icon': '50d'}], 'base': 'stations', 'main': {'temp': 25.94, 'feels_like': 27.2, 'temp_min': 25.94, 'temp_max': 25.94, 'pressure': 1011, 'humidity': 100, 'sea_level': 1011, 'grnd_level': 1005}, 'visibility': 4500, 'wind': {'speed': 1.03, 'deg': 0}, 'clouds': {'all': 40}, 'dt': 1728694618, 'sys': {'type': 1, 'id': 9255, 'country': 'IN', 'sunrise': 1728692372, 'sunset': 1728734843}, 'timezone': 19800, 'id': 1253102, 'name': 'Visakhapatnam', 'cod': 200}
{'coord': {'lon': 77.6033, 'lat': 12.9762}, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03d'}], 'base': 'stations', 'main': {'temp': 21.37, 'feels_like': 21.94, 'temp_min': 20.83, 'temp_max': 21.8, 'pressure': 1011, 'humidity': 91, 'sea_level': 1011, 'grnd_level': 914}, 'visibility': 6000, 'wind': {'speed': 1.03, 'deg': 110}, 'clouds': {'all': 40}, 'dt': 1728694457, 'sys': {'type': 1, 'id': 9205, 'country': 'IN', 'sunrise': 1728693562, 'sunset': 1728736343}, 'timezone': 19800, 'id': 1277333, 'name': 'Bengaluru', 'cod': 200}

In [442]:
w_df=pd.DataFrame(columns=['id','city','longitude','latitude','max_temp','min_temp','pressure','humidity','description','sunrise','sunset','timezone'])
w_df

Empty DataFrame
Columns: [id, city, longitude, latitude, max_temp, min_temp, pressure, humidity, description, sunrise, sunset, timezone]
Index: []

In [444]:
w_list=[]
for row in w_data_list:
        w_dict={
            'id':row['id'],'max_temp':row['main']['temp_max'],'min_temp':row['main']['temp_min'],
                  'pressure':row['main']['pressure'],'sea_level':row['main']['sea_level'],'humidity':row['main']['humidity'],'description':row['weather'][0]['description'],
            'sunrise':row['sys']['sunrise'],'sunset':row['sys']['sunset'],'timezone':row['timezone']
        }
        w_list.append(w_dict)
print(w_list)
w_df=pd.DataFrame(w_list)
w_df

[{'id': 5815135, 'max_temp': 16.22, 'min_temp': 15.03, 'pressure': 1017, 'sea_level': 1017, 'humidity': 37, 'description': 'overcast clouds', 'sunrise': 1728656135, 'sunset': 1728696074, 'timezone': -25200}, {'id': 4887398, 'max_temp': 24.46, 'min_temp': 21.98, 'pressure': 1016, 'sea_level': 1016, 'humidity': 41, 'description': 'broken clouds', 'sunrise': 1728647926, 'sunset': 1728688518, 'timezone': -18000}, {'id': 4684904, 'max_temp': 30.08, 'min_temp': 26.75, 'pressure': 1017, 'sea_level': 1017, 'humidity': 38, 'description': 'scattered clouds', 'sunrise': 1728649706, 'sunset': 1728691121, 'timezone': -18000}, {'id': 4180439, 'max_temp': 18.18, 'min_temp': 15.86, 'pressure': 1022, 'sea_level': 1022, 'humidity': 59, 'description': 'clear sky', 'sunrise': 1728646770, 'sunset': 1728688108, 'timezone': -14400}, {'id': 5391959, 'max_temp': 19.76, 'min_temp': 15.71, 'pressure': 1017, 'sea_level': 1017, 'humidity': 69, 'description': 'broken clouds', 'sunrise': 1728656079, 'sunset': 1728697051, 'timezone': -25200}, {'id': 5368361, 'max_temp': 29.63, 'min_temp': 21.53, 'pressure': 1015, 'sea_level': 1015, 'humidity': 48, 'description': 'clear sky', 'sunrise': 1728654913, 'sunset': 1728696213, 'timezone': -25200}, {'id': 4699066, 'max_temp': 28.91, 'min_temp': 25.62, 'pressure': 1019, 'sea_level': 1019, 'humidity': 44, 'description': 'scattered clouds', 'sunrise': 1728649246, 'sunset': 1728690899, 'timezone': -18000}, {'id': 5391811, 'max_temp': 26.43, 'min_temp': 18.53, 'pressure': 1015, 'sea_level': 1015, 'humidity': 66, 'description': 'clear sky', 'sunrise': 1728654596, 'sunset': 1728696008, 'timezone': -25200}, {'id': 4726206, 'max_temp': 29.96, 'min_temp': 26.3, 'pressure': 1018, 'sea_level': 1018, 'humidity': 36, 'description': 'clear sky', 'sunrise': 1728649985, 'sunset': 1728691663, 'timezone': -18000}, {'id': 4671654, 'max_temp': 29.92, 'min_temp': 26.04, 'pressure': 1018, 'sea_level': 1018, 'humidity': 36, 'description': 'clear sky', 'sunrise': 1728649837, 'sunset': 1728691450, 'timezone': -18000}, {'id': 4560349, 'max_temp': 16.72, 'min_temp': 12.66, 'pressure': 1017, 'sea_level': 1017, 'humidity': 58, 'description': 'clear sky', 'sunrise': 1728644833, 'sunset': 1728685619, 'timezone': -14400}, {'id': 5128581, 'max_temp': 18.45, 'min_temp': 14.91, 'pressure': 1015, 'sea_level': 1015, 'humidity': 45, 'description': 'clear sky', 'sunrise': 1728644592, 'sunset': 1728685304, 'timezone': -14400}, {'id': 2643743, 'max_temp': 8.38, 'min_temp': 6.18, 'pressure': 1014, 'sea_level': 1014, 'humidity': 85, 'description': 'overcast clouds', 'sunrise': 1728713982, 'sunset': 1728753226, 'timezone': 3600}, {'id': 1273294, 'max_temp': 21.05, 'min_temp': 21.05, 'pressure': 1010, 'sea_level': 1010, 'humidity': 94, 'description': 'mist', 'sunrise': 1728694203, 'sunset': 1728735887, 'timezone': 19800}, {'id': 1269843, 'max_temp': 23.73, 'min_temp': 23.73, 'pressure': 1012, 'sea_level': 1012, 'humidity': 94, 'description': 'mist', 'sunrise': 1728693498, 'sunset': 1728735990, 'timezone': 19800}, {'id': 1264527, 'max_temp': 26.7, 'min_temp': 25.48, 'pressure': 1009, 'sea_level': 1009, 'humidity': 96, 'description': 'broken clouds', 'sunrise': 1728692924, 'sunset': 1728735698, 'timezone': 19800}, {'id': 1253102, 'max_temp': 25.94, 'min_temp': 25.94, 'pressure': 1011, 'sea_level': 1011, 'humidity': 100, 'description': 'mist', 'sunrise': 1728692372, 'sunset': 1728734843, 'timezone': 19800}, {'id': 1277333, 'max_temp': 21.8, 'min_temp': 20.83, 'pressure': 1011, 'sea_level': 1011, 'humidity': 91, 'description': 'scattered clouds', 'sunrise': 1728693562, 'sunset': 1728736343, 'timezone': 19800}]

,id,max_temp,min_temp,pressure,sea_level,humidity,description,sunrise,sunset,timezone
0,5815135,16.22,15.03,1017,1017,37,overcast clouds,1728656135,1728696074,-25200
1,4887398,24.46,21.98,1016,1016,41,broken clouds,1728647926,1728688518,-18000
2,4684904,30.08,26.75,1017,1017,38,scattered clouds,1728649706,1728691121,-18000
3,4180439,18.18,15.86,1022,1022,59,clear sky,1728646770,1728688108,-14400
4,5391959,19.76,15.71,1017,1017,69,broken clouds,1728656079,1728697051,-25200
5,5368361,29.63,21.53,1015,1015,48,clear sky,1728654913,1728696213,-25200
6,4699066,28.91,25.62,1019,1019,44,scattered clouds,1728649246,1728690899,-18000
7,5391811,26.43,18.53,1015,1015,66,clear sky,1728654596,1728696008,-25200
8,4726206,29.96,26.30,1018,1018,36,clear sky,1728649985,1728691663,-18000
9,4671654,29.92,26.04,1018,1018,36,clear sky,1728649837,1728691450,-18000
10,4560349,16.72,12.66,1017,1017,58,clear sky,1728644833,1728685619,-14400
11,5128581,18.45,14.91,1015,1015,45,clear sky,1728644592,1728685304,-14400
12,2643743,8.38,6.18,1014,1014,85,overcast clouds,1728713982,1728753226,3600
13,1273294,21.05,21.05,1010,1010,94,mist,1728694203,1728735887,19800
14,1269843,23.73,23.73,1012,1012,94,mist,1728693498,1728735990,19800
15,1264527,26.70,25.48,1009,1009,96,broken clouds,1728692924,1728735698,19800
16,1253102,25.94,25.94,1011,1011,100,mist,1728692372,1728734843,19800
17,1277333,21.80,20.83,1011,1011,91,scattered clouds,1728693562,1728736343,19800

In [446]:
ct_list=[]
for row in w_data_list:
    ct_dict={
            'id':row['id'],'city':row['name'],'longitude':row['coord']['lon'],'latitude':row['coord']['lat'],'timezone':row['timezone']
    }d
    ct_list.append(ct_dict)
ct_df=pd.DataFrame(ct_list)
ct_df

         id           city  longitude  latitude  timezone
0   5815135     Washington  -120.5015   47.5001    -25200
1   4887398        Chicago   -87.6500   41.8500    -18000
2   4684904         Dallas   -96.7836   32.7668    -18000
3   4180439        Atlanta   -84.3880   33.7490    -14400
4   5391959  San Francisco  -122.4194   37.7749    -25200
5   5368361    Los Angeles  -118.2437   34.0522    -25200
6   4699066        Houston   -95.3633   29.7633    -18000
7   5391811      San Diego  -117.1573   32.7153    -25200
8   4726206    San Antonio   -98.4936   29.4241    -18000
9   4671654         Austin   -97.7431   30.2672    -18000
10  4560349   Philadelphia   -75.1638   39.9523    -14400
11  5128581       New York   -74.0060   40.7143    -14400
12  2643743         London    -0.1257   51.5085      3600
13  1273294          Delhi    77.2167   28.6667     19800
14  1269843      Hyderabad    78.4744   17.3753     19800
15  1264527        Chennai    80.2785   13.0878     19800
16  1253102  Visakhapatnam    83.2093   17.6900     19800
17  1277333      Bengaluru    77.6033   12.9762     19800

In [448]:
w_df.rename(columns={'max_temp':'max_temp C','min_temp':'min_temp C','pressure':'pressure hPa','sea_level':'sea_level hPa','humidity':'humidity %',
                     'sunrise':'sunrise UTC','sunset':'sunset UTC','timezone':'timezone UTC'
                    },inplace=True)
w_df

,id,max_temp C,min_temp C,pressure hPa,sea_level hPa,humidity %,description,sunrise UTC,sunset UTC,timezone UTC
0,5815135,16.22,15.03,1017,1017,37,overcast clouds,1728656135,1728696074,-25200
1,4887398,24.46,21.98,1016,1016,41,broken clouds,1728647926,1728688518,-18000
2,4684904,30.08,26.75,1017,1017,38,scattered clouds,1728649706,1728691121,-18000
3,4180439,18.18,15.86,1022,1022,59,clear sky,1728646770,1728688108,-14400
4,5391959,19.76,15.71,1017,1017,69,broken clouds,1728656079,1728697051,-25200
5,5368361,29.63,21.53,1015,1015,48,clear sky,1728654913,1728696213,-25200
6,4699066,28.91,25.62,1019,1019,44,scattered clouds,1728649246,1728690899,-18000
7,5391811,26.43,18.53,1015,1015,66,clear sky,1728654596,1728696008,-25200
8,4726206,29.96,26.30,1018,1018,36,clear sky,1728649985,1728691663,-18000
9,4671654,29.92,26.04,1018,1018,36,clear sky,1728649837,1728691450,-18000
10,4560349,16.72,12.66,1017,1017,58,clear sky,1728644833,1728685619,-14400
11,5128581,18.45,14.91,1015,1015,45,clear sky,1728644592,1728685304,-14400
12,2643743,8.38,6.18,1014,1014,85,overcast clouds,1728713982,1728753226,3600
13,1273294,21.05,21.05,1010,1010,94,mist,1728694203,1728735887,19800
14,1269843,23.73,23.73,1012,1012,94,mist,1728693498,1728735990,19800
15,1264527,26.70,25.48,1009,1009,96,broken clouds,1728692924,1728735698,19800
16,1253102,25.94,25.94,1011,1011,100,mist,1728692372,1728734843,19800
17,1277333,21.80,20.83,1011,1011,91,scattered clouds,1728693562,1728736343,19800

In [452]:
from datetime import datetime
convert_rise=[]
for i in w_df['sunrise UTC']:
    dt_obj=datetime.fromtimestamp(i)
    sunrise_time=dt_obj.strftime('%Y-%m-%d %H:%M:%S')
    convert_rise.append(sunrise_time)
w_df['sunrise UTC']=convert_rise
convert_set=[]
for i in w_df['sunset UTC']:
    dt_obj=datetime.fromtimestamp(i)
    sunset_time=dt_obj.strftime('%Y-%m-%d %H:%M:%S')
    convert_set.append(sunset_time)
w_df['sunset UTC']=convert_set
w_df

,id,max_temp C,min_temp C,pressure hPa,sea_level hPa,humidity %,description,sunrise UTC,sunset UTC,timezone UTC
0,5815135,16.22,15.03,1017,1017,37,overcast clouds,2024-10-11 09:15:35,2024-10-11 20:21:14,UTC-7
1,4887398,24.46,21.98,1016,1016,41,broken clouds,2024-10-11 06:58:46,2024-10-11 18:15:18,UTC-5
2,4684904,30.08,26.75,1017,1017,38,scattered clouds,2024-10-11 07:28:26,2024-10-11 18:58:41,UTC-5
3,4180439,18.18,15.86,1022,1022,59,clear sky,2024-10-11 06:39:30,2024-10-11 18:08:28,UTC-4
4,5391959,19.76,15.71,1017,1017,69,broken clouds,2024-10-11 09:14:39,2024-10-11 20:37:31,UTC-7
5,5368361,29.63,21.53,1015,1015,48,clear sky,2024-10-11 08:55:13,2024-10-11 20:23:33,UTC-7
6,4699066,28.91,25.62,1019,1019,44,scattered clouds,2024-10-11 07:20:46,2024-10-11 18:54:59,UTC-5
7,5391811,26.43,18.53,1015,1015,66,clear sky,2024-10-11 08:49:56,2024-10-11 20:20:08,UTC-7
8,4726206,29.96,26.30,1018,1018,36,clear sky,2024-10-11 07:33:05,2024-10-11 19:07:43,UTC-5
9,4671654,29.92,26.04,1018,1018,36,clear sky,2024-10-11 07:30:37,2024-10-11 19:04:10,UTC-5
10,4560349,16.72,12.66,1017,1017,58,clear sky,2024-10-11 06:07:13,2024-10-11 17:26:59,UTC-4
11,5128581,18.45,14.91,1015,1015,45,clear sky,2024-10-11 06:03:12,2024-10-11 17:21:44,UTC-4
12,2643743,8.38,6.18,1014,1014,85,overcast clouds,2024-10-12 01:19:42,2024-10-12 12:13:46,UTC+1
13,1273294,21.05,21.05,1010,1010,94,mist,2024-10-11 19:50:03,2024-10-12 07:24:47,UTC+5
14,1269843,23.73,23.73,1012,1012,94,mist,2024-10-11 19:38:18,2024-10-12 07:26:30,UTC+5
15,1264527,26.70,25.48,1009,1009,96,broken clouds,2024-10-11 19:28:44,2024-10-12 07:21:38,UTC+5
16,1253102,25.94,25.94,1011,1011,100,mist,2024-10-11 19:19:32,2024-10-12 07:07:23,UTC+5
17,1277333,21.80,20.83,1011,1011,91,scattered clouds,2024-10-11 19:39:22,2024-10-12 07:32:23,UTC+5

In [450]:
timezone_list=[]
for i in w_df['timezone UTC']:
    k=i/3600
    if k>0:
        c='UTC+'+str(int(k))
        timezone_list.append(c)
    else:
        c='UTC'+str(int(k))
        timezone_list.append(c)
w_df['timezone UTC']=timezone_list
w_df

,id,max_temp C,min_temp C,pressure hPa,sea_level hPa,humidity %,description,sunrise UTC,sunset UTC,timezone UTC
0,5815135,16.22,15.03,1017,1017,37,overcast clouds,1728656135,1728696074,UTC-7
1,4887398,24.46,21.98,1016,1016,41,broken clouds,1728647926,1728688518,UTC-5
2,4684904,30.08,26.75,1017,1017,38,scattered clouds,1728649706,1728691121,UTC-5
3,4180439,18.18,15.86,1022,1022,59,clear sky,1728646770,1728688108,UTC-4
4,5391959,19.76,15.71,1017,1017,69,broken clouds,1728656079,1728697051,UTC-7
5,5368361,29.63,21.53,1015,1015,48,clear sky,1728654913,1728696213,UTC-7
6,4699066,28.91,25.62,1019,1019,44,scattered clouds,1728649246,1728690899,UTC-5
7,5391811,26.43,18.53,1015,1015,66,clear sky,1728654596,1728696008,UTC-7
8,4726206,29.96,26.30,1018,1018,36,clear sky,1728649985,1728691663,UTC-5
9,4671654,29.92,26.04,1018,1018,36,clear sky,1728649837,1728691450,UTC-5
10,4560349,16.72,12.66,1017,1017,58,clear sky,1728644833,1728685619,UTC-4
11,5128581,18.45,14.91,1015,1015,45,clear sky,1728644592,1728685304,UTC-4
12,2643743,8.38,6.18,1014,1014,85,overcast clouds,1728713982,1728753226,UTC+1
13,1273294,21.05,21.05,1010,1010,94,mist,1728694203,1728735887,UTC+5
14,1269843,23.73,23.73,1012,1012,94,mist,1728693498,1728735990,UTC+5
15,1264527,26.70,25.48,1009,1009,96,broken clouds,1728692924,1728735698,UTC+5
16,1253102,25.94,25.94,1011,1011,100,mist,1728692372,1728734843,UTC+5
17,1277333,21.80,20.83,1011,1011,91,scattered clouds,1728693562,1728736343,UTC+5

In [424]:
ct_df['timezone']=w_df['timezone UTC']
ct_df

        id    city  longitude  latitude timezone
0  2643743  London    -0.1257   51.5085    UTC-4
1  2643743  London    -0.1257   51.5085    UTC+1

In [454]:
with open('list_json.json','w') as f:
    json.dump(w_data_list,f)